html, body {
    background-color: rgb(82,94,117);
}

#container {
    display: flex;
    flex-direction: column;
    margin: 50px auto auto auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(82,94,117);
    height: 600px;
    width: 500px;
    border-radius: 15px;
}

#displayContainer {
    display: flex;
    flex-flow: column;
    margin: 15px 10px 10px 10px;
    background-color: rgb(146,186,146);
    height: 150px;
    width: 470px;
    border-radius: 15px;
    font-family: Gill Sans, sans-serif;
}

#display {
    font-size: 90px;
    margin-top: auto;
}

.storedDisplay {
    display: inline-flex;
    flex-direction: row;
    font-size: 30px;
    margin-bottom: auto;
    margin-top: 5px;
}

.firstNum, .operator, .nextNum {
    margin: 0 10px;
}

#display, .storedDisplay {
    margin-left: auto;
    padding-right: 25px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 430px;
    width: 480px;
    border-radius: 15px;
    margin: 10px;
}

#clear {
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgb(120,147,138);
}

.backspaceButton {
    grid-area: 1 / 3 / 2 / 4;
    background-color: rgb(120,147,138);
}

#divide {
    grid-area: 1 / 4 / 2 / 5;
}

#multiply {
    grid-area: 2 / 4 / 3 / 5;
}

#subtract {
    grid-area: 3 / 4 / 4 / 5;
}

#add {
    grid-area: 4 / 4 / 5 / 5;
}

#equals {
    grid-area: 5 / 4 / 6 / 5;
}

#zero {
    grid-area: 5 / 2 / 6 / 4;
}

button {
    border-radius: 15px;
    margin: 4px;
    font-family: Gill Sans, sans-serif;
    font-size: 35px;
    font-weight: 500;
}

#divide, #multiply, #add, #subtract, #equals {
    background-color: rgb(241,221,191);
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine  {
    background-color: rgb(217,137,181);
}

footer {
    color: rgb(120,147,138); 
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.link {
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link:visited {
    color: rgb(120,147,138);
}

.link:active {
    color: rgb(241,221,191);
}
